$_primary-blue: #3C55FF;
$_color-white: #ffffff;
$_color-black: #000;
$_color-black2: #1E1E1E;
$color-gray: #B6B6B6;
$_primary-gray-dark: #999999;

$_primary-grayLight: #b1b1b1;
$_primary-grayLighter: #efefef;

$_secondary-violet: #55164f;
$_error: #f83d32;

// Brand
$brand: $_primary-blue;
$primary-color: $_primary-blue;
$primary-hover-color: $_primary-blue;

// Background
$bg-primary: $_primary-blue;
$bg-light: $_color-white;
$bg-dark:$_color-black2;

// Text
$text: $_color-black;
$text-dark: $color-gray;
$text-primary: $_primary-blue;
$text-secondary: $color-gray;

// Selecction
$select-text: $_primary-blue;
$select-bg: $_secondary-violet;

// Tools
$white: $_color-white;
$error: $_error;