// [Container]
$max-width-lg: 80rem;
$max-width-md: 70rem;

// [Spacing]
$section-sm: 1rem;
$section: 1.6rem;
$section-lg: 3.25rem;

// [Padding]
$padding-sm: 1.5em;
$padding-md: 2em;
$padding-md-full: 5.6rem;

$padding-btn-x: 2em;
$padding-btn-y: .7em;


// [Margin]
$margin-top-p: .5em;
$margin-top-h: .5em;
$margin-sm: 1.5em;
$margin-md: 2em;
$margin-lg: 4em;
