@use "../settings/typography";

.card{
  width: 100%;

  img{
    width: 100%;
    height: auto;
    object-fit: cover;

    object-position: 0% 25%;
  }

  .body{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: .7rem;

    h3{
      font-size: typography.$fs-card-title;
    }
  }
}