
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{>partials/favicon}}
  {{>partials/seo}}
  {{>partials/seo-social}}
  <title>Impulso | Krown</title>
</head>
<body>
  <header>
    <div class="container-full">
      <label for="themeSelector" class="is-sr-only">Tema: </label>
        <select id="themeSelector" class="a-select">
          <option value="default">Por defecto</option>
          <option value="light">Claro</option>
          <option value="dark">Oscuro</option>
      </select>
    </div>

    <div class="container-full">
      <div class="menu">
        <img src="assets/img/logo-impulso.svg" width="56" height="55" alt="Logo Krown">
        <img src="assets/img/logo.svg" width="77" height="26" alt="Logo Krown">
      </div>
    </div>
  </header>

  {{!-- [assets] --}}
  <section class="section">
    <div class="asstes">
      <div class="container-full">
        <h1 class="title">Impulso educación</h1>
        <h2 class="title-big">Brand assets</h2>
        <p class="p-cut">
          Aquí encontrarás los elementos de marca y los lineamientos de uso para la indetidad comporativa.
        </p>
      </div>

      {{!-- downloads --}}
      <div class="container">
        <div class="downloads">
          {{!-- card --}}
          <div class="card">
            <img src="assets/img/downloads/01-Brand-guidelines.jpg"  height="192" alt="Brand Guidelines">
            <div class="body">
              <h3>Brand</h3>
                <a href="#" class="btn">
                  descargar 
                  <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 15.9C3.98333 15.9 2.68767 15.375 1.613 14.325C0.537667 13.275 0 11.9917 0 10.475C0 9.175 0.391667 8.01667 1.175 7C1.95833 5.98333 2.98333 5.33333 4.25 5.05C4.53333 3.85 5.24167 2.70833 6.375 1.625C7.50833 0.541667 8.71667 0 10 0C10.55 0 11.021 0.195667 11.413 0.587C11.8043 0.979 12 1.45 12 2V8.05L13.6 6.5L15 7.9L11 11.9L7 7.9L8.4 6.5L10 8.05V2C8.73333 2.23333 7.75 2.84567 7.05 3.837C6.35 4.829 6 5.85 6 6.9H5.5C4.53333 6.9 3.70833 7.24167 3.025 7.925C2.34167 8.60833 2 9.43333 2 10.4C2 11.3667 2.34167 12.1917 3.025 12.875C3.70833 13.5583 4.53333 13.9 5.5 13.9H17.5C18.2 13.9 18.7917 13.6583 19.275 13.175C19.7583 12.6917 20 12.1 20 11.4C20 10.7 19.7583 10.1083 19.275 9.625C18.7917 9.14167 18.2 8.9 17.5 8.9H16V6.9C16 6.1 15.8167 5.354 15.45 4.662C15.0833 3.97067 14.6 3.38333 14 2.9V0.575C15.2333 1.15833 16.2083 2.021 16.925 3.163C17.6417 4.30433 18 5.55 18 6.9C19.15 7.03333 20.1043 7.529 20.863 8.387C21.621 9.24567 22 10.25 22 11.4C22 12.65 21.5627 13.7127 20.688 14.588C19.8127 15.4627 18.75 15.9 17.5 15.9H5.5Z" fill="black"/>
                  </svg>
                </a>
            </div>
          </div>
          {{!-- end card --}}

          {{!-- card --}}
          <div class="card">
            <img src="assets/img/downloads/02-Logo-principal-pack.jpg" height="192" alt="Brand Guidelines">
            <div class="body">
              <h3>Logo principal pack</h3>
                <a href="#" class="btn">
                  descargar 
                  <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 15.9C3.98333 15.9 2.68767 15.375 1.613 14.325C0.537667 13.275 0 11.9917 0 10.475C0 9.175 0.391667 8.01667 1.175 7C1.95833 5.98333 2.98333 5.33333 4.25 5.05C4.53333 3.85 5.24167 2.70833 6.375 1.625C7.50833 0.541667 8.71667 0 10 0C10.55 0 11.021 0.195667 11.413 0.587C11.8043 0.979 12 1.45 12 2V8.05L13.6 6.5L15 7.9L11 11.9L7 7.9L8.4 6.5L10 8.05V2C8.73333 2.23333 7.75 2.84567 7.05 3.837C6.35 4.829 6 5.85 6 6.9H5.5C4.53333 6.9 3.70833 7.24167 3.025 7.925C2.34167 8.60833 2 9.43333 2 10.4C2 11.3667 2.34167 12.1917 3.025 12.875C3.70833 13.5583 4.53333 13.9 5.5 13.9H17.5C18.2 13.9 18.7917 13.6583 19.275 13.175C19.7583 12.6917 20 12.1 20 11.4C20 10.7 19.7583 10.1083 19.275 9.625C18.7917 9.14167 18.2 8.9 17.5 8.9H16V6.9C16 6.1 15.8167 5.354 15.45 4.662C15.0833 3.97067 14.6 3.38333 14 2.9V0.575C15.2333 1.15833 16.2083 2.021 16.925 3.163C17.6417 4.30433 18 5.55 18 6.9C19.15 7.03333 20.1043 7.529 20.863 8.387C21.621 9.24567 22 10.25 22 11.4C22 12.65 21.5627 13.7127 20.688 14.588C19.8127 15.4627 18.75 15.9 17.5 15.9H5.5Z" fill="black"/>
                  </svg>
                </a>
            </div>
          </div>
          {{!-- end card --}}

          {{!-- card --}}
          <div class="card">
            <img src="assets/img/downloads/03-Logo-extendido-pack.jpg" loading="lazy" height="192" alt="Brand Guidelines">
            <div class="body">
              <h3>Logo extendido pack</h3>
                <a href="#" class="btn">
                  descargar 
                  <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 15.9C3.98333 15.9 2.68767 15.375 1.613 14.325C0.537667 13.275 0 11.9917 0 10.475C0 9.175 0.391667 8.01667 1.175 7C1.95833 5.98333 2.98333 5.33333 4.25 5.05C4.53333 3.85 5.24167 2.70833 6.375 1.625C7.50833 0.541667 8.71667 0 10 0C10.55 0 11.021 0.195667 11.413 0.587C11.8043 0.979 12 1.45 12 2V8.05L13.6 6.5L15 7.9L11 11.9L7 7.9L8.4 6.5L10 8.05V2C8.73333 2.23333 7.75 2.84567 7.05 3.837C6.35 4.829 6 5.85 6 6.9H5.5C4.53333 6.9 3.70833 7.24167 3.025 7.925C2.34167 8.60833 2 9.43333 2 10.4C2 11.3667 2.34167 12.1917 3.025 12.875C3.70833 13.5583 4.53333 13.9 5.5 13.9H17.5C18.2 13.9 18.7917 13.6583 19.275 13.175C19.7583 12.6917 20 12.1 20 11.4C20 10.7 19.7583 10.1083 19.275 9.625C18.7917 9.14167 18.2 8.9 17.5 8.9H16V6.9C16 6.1 15.8167 5.354 15.45 4.662C15.0833 3.97067 14.6 3.38333 14 2.9V0.575C15.2333 1.15833 16.2083 2.021 16.925 3.163C17.6417 4.30433 18 5.55 18 6.9C19.15 7.03333 20.1043 7.529 20.863 8.387C21.621 9.24567 22 10.25 22 11.4C22 12.65 21.5627 13.7127 20.688 14.588C19.8127 15.4627 18.75 15.9 17.5 15.9H5.5Z" fill="black"/>
                  </svg>
                </a>
            </div>
          </div>
          {{!-- end card --}}

          {{!-- card --}}
          <div class="card">
            <img src="assets/img/downloads/04-Logo-condensado-pack.jpg" loading="lazy" height="192" alt="Brand Guidelines">
            <div class="body">
              <h3>Logo condensado pack</h3>
                <a href="#" class="btn">
                  descargar 
                  <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 15.9C3.98333 15.9 2.68767 15.375 1.613 14.325C0.537667 13.275 0 11.9917 0 10.475C0 9.175 0.391667 8.01667 1.175 7C1.95833 5.98333 2.98333 5.33333 4.25 5.05C4.53333 3.85 5.24167 2.70833 6.375 1.625C7.50833 0.541667 8.71667 0 10 0C10.55 0 11.021 0.195667 11.413 0.587C11.8043 0.979 12 1.45 12 2V8.05L13.6 6.5L15 7.9L11 11.9L7 7.9L8.4 6.5L10 8.05V2C8.73333 2.23333 7.75 2.84567 7.05 3.837C6.35 4.829 6 5.85 6 6.9H5.5C4.53333 6.9 3.70833 7.24167 3.025 7.925C2.34167 8.60833 2 9.43333 2 10.4C2 11.3667 2.34167 12.1917 3.025 12.875C3.70833 13.5583 4.53333 13.9 5.5 13.9H17.5C18.2 13.9 18.7917 13.6583 19.275 13.175C19.7583 12.6917 20 12.1 20 11.4C20 10.7 19.7583 10.1083 19.275 9.625C18.7917 9.14167 18.2 8.9 17.5 8.9H16V6.9C16 6.1 15.8167 5.354 15.45 4.662C15.0833 3.97067 14.6 3.38333 14 2.9V0.575C15.2333 1.15833 16.2083 2.021 16.925 3.163C17.6417 4.30433 18 5.55 18 6.9C19.15 7.03333 20.1043 7.529 20.863 8.387C21.621 9.24567 22 10.25 22 11.4C22 12.65 21.5627 13.7127 20.688 14.588C19.8127 15.4627 18.75 15.9 17.5 15.9H5.5Z" fill="black"/>
                  </svg>
                </a>
            </div>
          </div>
          {{!-- end card --}}

          {{!-- card --}}
          <div class="card">
            <img src="assets/img/downloads/05-Simbolo-pack.jpg" loading="lazy" height="192" alt="Brand Guidelines">
            <div class="body">
              <h3>Símbolo pack</h3>
                <a href="#" class="btn">
                  descargar 
                  <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 15.9C3.98333 15.9 2.68767 15.375 1.613 14.325C0.537667 13.275 0 11.9917 0 10.475C0 9.175 0.391667 8.01667 1.175 7C1.95833 5.98333 2.98333 5.33333 4.25 5.05C4.53333 3.85 5.24167 2.70833 6.375 1.625C7.50833 0.541667 8.71667 0 10 0C10.55 0 11.021 0.195667 11.413 0.587C11.8043 0.979 12 1.45 12 2V8.05L13.6 6.5L15 7.9L11 11.9L7 7.9L8.4 6.5L10 8.05V2C8.73333 2.23333 7.75 2.84567 7.05 3.837C6.35 4.829 6 5.85 6 6.9H5.5C4.53333 6.9 3.70833 7.24167 3.025 7.925C2.34167 8.60833 2 9.43333 2 10.4C2 11.3667 2.34167 12.1917 3.025 12.875C3.70833 13.5583 4.53333 13.9 5.5 13.9H17.5C18.2 13.9 18.7917 13.6583 19.275 13.175C19.7583 12.6917 20 12.1 20 11.4C20 10.7 19.7583 10.1083 19.275 9.625C18.7917 9.14167 18.2 8.9 17.5 8.9H16V6.9C16 6.1 15.8167 5.354 15.45 4.662C15.0833 3.97067 14.6 3.38333 14 2.9V0.575C15.2333 1.15833 16.2083 2.021 16.925 3.163C17.6417 4.30433 18 5.55 18 6.9C19.15 7.03333 20.1043 7.529 20.863 8.387C21.621 9.24567 22 10.25 22 11.4C22 12.65 21.5627 13.7127 20.688 14.588C19.8127 15.4627 18.75 15.9 17.5 15.9H5.5Z" fill="black"/>
                  </svg>
                </a>
            </div>
          </div>
          {{!-- end card --}}

          {{!-- card --}}
          <div class="card">
            <img src="assets/img/downloads/06-Papeleria-pack.jpg" loading="lazy" height="192" alt="Brand Guidelines">
            <div class="body">
              <h3>Papelería pack</h3>
                <a href="#" class="btn">
                  descargar 
                  <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 15.9C3.98333 15.9 2.68767 15.375 1.613 14.325C0.537667 13.275 0 11.9917 0 10.475C0 9.175 0.391667 8.01667 1.175 7C1.95833 5.98333 2.98333 5.33333 4.25 5.05C4.53333 3.85 5.24167 2.70833 6.375 1.625C7.50833 0.541667 8.71667 0 10 0C10.55 0 11.021 0.195667 11.413 0.587C11.8043 0.979 12 1.45 12 2V8.05L13.6 6.5L15 7.9L11 11.9L7 7.9L8.4 6.5L10 8.05V2C8.73333 2.23333 7.75 2.84567 7.05 3.837C6.35 4.829 6 5.85 6 6.9H5.5C4.53333 6.9 3.70833 7.24167 3.025 7.925C2.34167 8.60833 2 9.43333 2 10.4C2 11.3667 2.34167 12.1917 3.025 12.875C3.70833 13.5583 4.53333 13.9 5.5 13.9H17.5C18.2 13.9 18.7917 13.6583 19.275 13.175C19.7583 12.6917 20 12.1 20 11.4C20 10.7 19.7583 10.1083 19.275 9.625C18.7917 9.14167 18.2 8.9 17.5 8.9H16V6.9C16 6.1 15.8167 5.354 15.45 4.662C15.0833 3.97067 14.6 3.38333 14 2.9V0.575C15.2333 1.15833 16.2083 2.021 16.925 3.163C17.6417 4.30433 18 5.55 18 6.9C19.15 7.03333 20.1043 7.529 20.863 8.387C21.621 9.24567 22 10.25 22 11.4C22 12.65 21.5627 13.7127 20.688 14.588C19.8127 15.4627 18.75 15.9 17.5 15.9H5.5Z" fill="black"/>
                  </svg>
                </a>
            </div>
          </div>
          {{!-- end card --}}

          {{!-- card --}}
          <div class="card">
            <img src="assets/img/downloads/07-Promocionales-pack.jpg" loading="lazy" height="192" alt="Brand Guidelines">
            <div class="body">
              <h3>Promocionales pack</h3>
                <a href="#" class="btn">
                  descargar 
                  <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 15.9C3.98333 15.9 2.68767 15.375 1.613 14.325C0.537667 13.275 0 11.9917 0 10.475C0 9.175 0.391667 8.01667 1.175 7C1.95833 5.98333 2.98333 5.33333 4.25 5.05C4.53333 3.85 5.24167 2.70833 6.375 1.625C7.50833 0.541667 8.71667 0 10 0C10.55 0 11.021 0.195667 11.413 0.587C11.8043 0.979 12 1.45 12 2V8.05L13.6 6.5L15 7.9L11 11.9L7 7.9L8.4 6.5L10 8.05V2C8.73333 2.23333 7.75 2.84567 7.05 3.837C6.35 4.829 6 5.85 6 6.9H5.5C4.53333 6.9 3.70833 7.24167 3.025 7.925C2.34167 8.60833 2 9.43333 2 10.4C2 11.3667 2.34167 12.1917 3.025 12.875C3.70833 13.5583 4.53333 13.9 5.5 13.9H17.5C18.2 13.9 18.7917 13.6583 19.275 13.175C19.7583 12.6917 20 12.1 20 11.4C20 10.7 19.7583 10.1083 19.275 9.625C18.7917 9.14167 18.2 8.9 17.5 8.9H16V6.9C16 6.1 15.8167 5.354 15.45 4.662C15.0833 3.97067 14.6 3.38333 14 2.9V0.575C15.2333 1.15833 16.2083 2.021 16.925 3.163C17.6417 4.30433 18 5.55 18 6.9C19.15 7.03333 20.1043 7.529 20.863 8.387C21.621 9.24567 22 10.25 22 11.4C22 12.65 21.5627 13.7127 20.688 14.588C19.8127 15.4627 18.75 15.9 17.5 15.9H5.5Z" fill="black"/>
                  </svg>
                </a>
            </div>
          </div>
          {{!-- end card --}}

          {{!-- card --}}
          <div class="card">
            <img src="assets/img/downloads/08-Redes-sociales-pack.jpg" loading="lazy" height="192" alt="Brand Guidelines">
            <div class="body">
              <h3>Redes sociales pack</h3>
                <a href="#" class="btn">
                  descargar 
                  <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 15.9C3.98333 15.9 2.68767 15.375 1.613 14.325C0.537667 13.275 0 11.9917 0 10.475C0 9.175 0.391667 8.01667 1.175 7C1.95833 5.98333 2.98333 5.33333 4.25 5.05C4.53333 3.85 5.24167 2.70833 6.375 1.625C7.50833 0.541667 8.71667 0 10 0C10.55 0 11.021 0.195667 11.413 0.587C11.8043 0.979 12 1.45 12 2V8.05L13.6 6.5L15 7.9L11 11.9L7 7.9L8.4 6.5L10 8.05V2C8.73333 2.23333 7.75 2.84567 7.05 3.837C6.35 4.829 6 5.85 6 6.9H5.5C4.53333 6.9 3.70833 7.24167 3.025 7.925C2.34167 8.60833 2 9.43333 2 10.4C2 11.3667 2.34167 12.1917 3.025 12.875C3.70833 13.5583 4.53333 13.9 5.5 13.9H17.5C18.2 13.9 18.7917 13.6583 19.275 13.175C19.7583 12.6917 20 12.1 20 11.4C20 10.7 19.7583 10.1083 19.275 9.625C18.7917 9.14167 18.2 8.9 17.5 8.9H16V6.9C16 6.1 15.8167 5.354 15.45 4.662C15.0833 3.97067 14.6 3.38333 14 2.9V0.575C15.2333 1.15833 16.2083 2.021 16.925 3.163C17.6417 4.30433 18 5.55 18 6.9C19.15 7.03333 20.1043 7.529 20.863 8.387C21.621 9.24567 22 10.25 22 11.4C22 12.65 21.5627 13.7127 20.688 14.588C19.8127 15.4627 18.75 15.9 17.5 15.9H5.5Z" fill="black"/>
                  </svg>
                </a>
            </div>
          </div>
          {{!-- end card --}}
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container-full">
      <hr>
      <p class="p-cut">
        Si tienes alguna duda sobre el uso o los elementos de marca te puedes contactar con nosotros en <a href="#">hello@krown.one</a> 
      </p>

      <span>©Copyright Krown Creates 2022</span>
    </div>
  </footer>
</body>
</html>